
body{
  height: 100vh;
  margin: 0px;
  font-family: Roboto, sans-serif;
  background-color: white;
}

a{
    color: white;
    text-decoration: none;
}
.container {
    padding-left: 300px;
    padding-right: 300px;
    box-sizing: border-box;

  }
.header{
    background-color: #1F2937;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}
.links{
    display: flex;
    justify-content: space-between;
}
.header-link{
    padding: 16px;
}
.sec1 {
    background-color:#1F2937 ;
}
.sec1 .container{
    display: flex;  
    padding: 48px 300px;  

}
.signup-button{
    display: inline-block;
    width: 80px;
    height: 20px;
    padding: 5px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #3882f6;
    text-align: center;
    cursor: pointer;
    line-height: 20px;
}
.hero-content{
    display: flex;
    flex-direction: column;
}
.title1{
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
}

.sec2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}
.illustrations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
}
.sec2-img{
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6; 
    border-radius: 10px;
    margin-bottom: 10px;
}
.title2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 24px;
}

.sec3 .container{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}
.Quote{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.Quote > * {
    margin: 0;
    padding: 0;
  }
  
.citation{
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}
.sec4 .container{
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.callAct-continer{
    background-color: #3882f6;
    color:#e5e7eb;
    display: flex;
    width: 800px;
    height: 125px;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
}
.cta-text{
    display: flex;
    flex-direction: column;
}
.cta-text >*{
    margin: 0;
    padding: 0;
}
.action{
    font-size: 18px;
    font-weight: 900;
    margin: 0;
}
.subAction{
    margin: 0;
}
.footer{
   background-color: #1F2937;
   color: #e5e7eb;
   height: 60px; 
   text-align: center;
   line-height: 60px;
}